@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* root content's */
:root {
  --orange: #fea301;
  --gray: #495560;
  --black: #000;
  --sky: #01acfd;
  --white: #ffffff;
  --akowa: #05d4df;
  --purple: #5d58ef;
  --gray_sky: #68a2df;
  --blue: #01acfd;
  --background-light-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-light-color);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* container */
.container {
  width: 100%;
  overflow: hidden;
}
header marquee {
  padding-inline: 20%;
  padding-block: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blue);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20%;
  /* padding-inline: 186px; */
  /* padding-block: 10px; */
}
.logo {
  font-size: 2.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: 600;
}
nav ul li a:hover {
  font-weight: 600;
  transition: all 0.3s;
}
nav ul li:nth-child(1) a {
  color: var(--orange);
}
nav ul li:nth-child(2) a {
  color: var(--sky);
}
nav ul li:nth-child(3) a {
  color: var(--akowa);
}
nav ul li:nth-child(3) a {
  color: var(--purple);
}
.btn {
  background-color: var(--orange);
  /* font-size: 20px ; */
  font-size: 1.2rem;
  color: var(--white);
  padding: 10px 25px;
  border-radius: 9px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-btn {
  display: flex;
  gap: 10px;
}
.menu-btn button {
  font-weight: 900;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-btn button:nth-child(2) {
  display: none;
}
.menu-btn button i {
  padding: 10px 10px;
  font-size: 31px;
  
}
.Menu_close{
  display: none;
}

/* hero_section */

.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20%;
  padding-block: 50px;
}
.hero_section .hero_left h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--gray);
}
.hero_left {
  width: 50%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.hero_section .hero_left h1 span:nth-child(1) {
  color: var(--orange);
}
.hero_section .hero_left h1 span:nth-child(3) {
  color: var(--black);
}
.hero_section .hero_left h1 span:nth-child(4) {
  color: var(--sky);
}
.hero_left p {
  font-size: 1.2rem;
  color: var(--gray);
  margin-block: 20px;
}

.hero_right img {
  width: 100%;
}

.curriculum {
  width: 100%;
  height: auto;
  background: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  padding-top: 80px;
}
.curriculum_left h1 {
  font-size: 3rem;
  text-align: center;
}
.curriculum_left {
  padding-inline: 20%;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%; */
}

.cars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 60px;
}

.card {
  width: 367.8px;
  height: 476.78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 30px;
  text-align: center;
}
.card button {
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 15px;
  font-weight: 600;
  background-color: transparent;
}
.card p {
  color: var(--gray);
}

.card1_btn {
  color: var(--sky);
}
.card2_btn {
  color: var(--orange);
}
.card3_btn {
  color: var(--purple);
}

.cars .card1 {
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #ffffff;
  border: 0.943193px solid #def5ff;
  box-shadow: inset 0px 0px 28.2958px 0.943193px rgba(0, 0, 0, 0.05);
  border-radius: 18.8639px;
}

.cars .card2 {
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #ffffff;
  border: 0.943193px solid #fff4dc;
  box-shadow: inset 0px 0px 28.2958px 0.943193px rgba(0, 0, 0, 0.05);
  border-radius: 18.8639px;
}
.cars .card3 {
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #ffffff;
  border: 0.943193px solid #f2e8ff;
  box-shadow: inset 0px 0px 28.2958px 0.943193px rgba(0, 0, 0, 0.05);
  border-radius: 18.8639px;
}

.bottom_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.bottom_arrow button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: var(--orange);
  border: none;
  outline: none;
}
.bottom_arrow button i {
  font-size: 30px;
  font-weight: 600;
  color: var(--white);
}

.stories_section {
  padding-block: 80px;
}
/* Our_Stories */
.stories_section h1 {
  text-align: center;
  font-size: 3rem;
}
.Our_Stories {
  width: 100%;
  height: auto;
  padding-block: 20px;

  background: url(image.png),
    linear-gradient(
      360deg,
      rgba(254, 161, 1, 0.218) 0%,
      rgba(255, 255, 255, 0.166) 100%
    );
}
/* story_card */

.story_1 {
  width: 540.27px !important;
  height: 606px;
  background: var(--white);
  border-radius: 10px;
  position: relative;
}
.story_1 img {
  border-radius: 10px 10px 0px 0px;
}
.story_1 .card_text_section {
  padding: 30px 24px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 50%;
}
.story_1 .card_text_section button {
  position: absolute;
  height: 47.93px;
  left: 38.35px;
  right: 327.41px;
  top: 314.14px;

  background: #3cd8e8;
  border-radius: 47.9343px;
  border: none;
  color: var(--white);
}
.story_1 .card_text_section h3 {
  font-size: 1.5rem;
}
/* story_card */

.story_card {
  width: 290.69px;
  background: var(--white);
  border-radius: 10px;
  position: relative;
}
.story_card .card_text_section {
  padding: 30px 24px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}
.story_card img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
/* ajkfsdfkjsf */
.story_card_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-block: 50px;
}
.Stories_right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  position: relative;
}

.story_card button {
  /* Background */

  position: absolute;
  height: 38.35px;
  left: 38.35px;
  right: 78.14px;
  top: 157.81px;
  border: none;
  color: var(--white);
  background: #95b226;
  border-radius: 47.9343px;
}

.story_bottom_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story_bottom_arrow button {
  font-size: 24px;
  background: var(--black);
  border: none;
  outline: none;
}

footer {
  padding-inline: 20%;
  padding-block: 30px;
  height: 515px;
  background: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}
.for_footter_content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 30px;
}
.footer_left div {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

/* footer_mid */
.footer_mid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_mid ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer_mid ul li a {
  color: var(--white);
  font-size: 1.5rem;
}

/* footer_right */
.footer_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.footer_right ul {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

::-webkit-scrollbar {
  width: 0.8em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}

/* End of the footer */

/* start of the media queries */

/* for 1920px */
@media screen and (max-width: 1920px) {
  .Stories-left {
    display: none !important;
  }
  .Stories_right {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    position: relative;
  }
}

/* for 1440px */
@media screen and (max-width: 1440px) {
  nav {
    padding-inline: 10% !important;
  }
  .hero_section {
    padding-inline: 10% !important;
  }
  .curriculum {
    padding-inline: 5% !important;
  }
  .curriculum_left {
    padding-inline: 0% !important;
  }

  .cars .card {
    gap: 20px !important;
  }
  .Stories_right {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    position: relative;
  }
  footer {
    
    padding-inline: 10% !important;
  }
}

/* for 1024px */
@media screen and (max-width: 1024px) {
  marquee {
    display: none;
  }
  nav {
    /* background-color: red !important; */
    padding-inline: 5% !important;
    padding-block: 10px !important;
  }
  .hero_section {
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column-reverse !important;
    padding-block: 0px !important;
    padding-inline: 0% !important;
    gap: 20px !important;
  }
  .hero_left {
    width: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 20px;
  }
  .hero_left h1 {
    width: 100%;
  }
  .curriculum {
    padding-inline: 2% !important;
  }
  .curriculum_left {
    padding-inline: 0% !important;
  }
  .cars .card {
    gap: 20px !important;
  }
  .bottom_arrow button {
    width: 50px !important;
    height: 50px !important;
  }
  .bottom_arrow button i {
    font-size: 20px !important;
  }
  .Stories_right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    position: relative;
  }
  footer {
    padding-inline: 5% !important;
    /* flex-direction: column !important; */
  }
  .for_footter_content{
    flex-direction: column !important;
    align-items: start;
    justify-content: start;
    gap: 30px !important;
  }
  .footer_left{
    width: 100% !important;
  }
  .footer_mid{
    gap: 10px !important;
  }
  .footer_mid ul{
    gap: 10px !important;
  }
  .footer_right{
    width: 100% !important;
    align-items: start !important;
  }
}

/* for 768px */
@media screen and (max-width: 768px) {
  nav {
    /* background-color: green !important; */
    padding-inline: 5% !important;
    position: relative;
  }
  .Menu_close {
    display: block !important;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  nav ul button {
    font-size: 30px !important;
    border: none !important;
    outline: none;
    background: none !important;
  }
  nav ul {
    /* display: none !important; */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 9999;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  .open {
    transform: translateX(0%) !important;
    transition: all 0.5s ease-in-out;
  }
  .hero_left {
    width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .menu-btn button:nth-child(1) {
    display: none !important;
  }
  .menu-btn button:nth-child(2) {
    display: block !important;
    background: none !important;
    cursor: pointer;
    border: none !important;
    outline: none !important
  }
  .hero_right {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero_right img {
    width: 90% !important;
  }

  .hero_left h1 {
    font-size: 2.5rem !important;
  }
  .hero_left p {
    font-size: 1.2rem !important;
  }

  .curriculum {
    padding-inline: 5% !important;
  }
  .curriculum_left {
    padding-inline: 0% !important;
    flex-direction: column !important;
  }
  .cars {
    flex-direction: column !important;
    gap: 20px !important;
  }
  .cars .card {
    width: 100% !important;
  }
  .Stories_right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    position: relative;
    padding-inline: 10px;
  }
  .story_card {
    width: auto;
    
  }
  .story_bottom_arrow button {
    font-size: 18px !important;
  }
  .story_card .card_text_section {
    padding-inline: 10px !important;
  }
}

/* for 425px */
@media screen and (max-width: 425px) {
 
  .stories_section{
    padding-block: 20px !important;
  }
  .Stories_right {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    position: relative;
    padding-inline: 10px;
  }
}

/* End of the media queries */
